[alias]
	l = log --graph --pretty=oneline --abbrev-commit
	st = status -sb
    unstage = reset HEAD --
    squash = "!git reset --soft $(git merge-base ${1:-main} $(git rev-parse --abbrev-ref HEAD)) && git commit && git rebase ${1:-main} && :"
    diff-words = diff --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
    hidden = ! git ls-files -v | grep '^h' | cut -c3-
[user]
	email = luketenant@gmail.com
	name = Luke Grehan
[push]
	default = simple
    autoSetupRemote = true
[core]
	editor = vim
[diff]
	tool = vimdiff
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
[merge]
	tool = vimdiff
	conflictstyle = zdiff3
[mergetool]
	keepBackup = false
	prompt = false
[init]
	defaultBranch = main
[pull]
    ff = only
    rebase = true
[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[fetch]
    prune = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
