[alias]
	l = log --graph --pretty=oneline --abbrev-commit
	st = status -sb
    unstage = reset HEAD -- 
[user]
	email = luke.grehan17@imperial.ac.uk
	name = Luke Grehan
[push]
	default = simple
[core]
	editor = vim
